.about__skills-container
  display flex
  align-content center
  align-items center
  justify-content center
  margin-bottom 20px
  flex-wrap wrap
  gap 10px

.about__skill
  padding 10px 20px
  background $yellow2
  border-radius 3px
  color #fff

.dark-mode .about__skill
  background $darkModeColor1
  color $darkModeColor3