/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$yellow = #E3D065
$brown = #EDEAE6
$brown2 = #E8D4BC
$yellowGreen = #828F44
$yellow2 = #494706

$darkModeColor1 = #2C3333
$darkModeColor2 = #395B64
$darkModeColor3 =#A5C9CA

$primaryColor = $yellow
$secondaryColor = $brown
$tertiaryColor = $brown2
$color4 = $yellowGreen
$color5 = $yellow2

$tablet = 768px
$smallDesktop = 992px
$largeDesktop = 1400px