.text-yellow
    color $yellow

.dark-mode .text-yellow
    color $darkModeColor1

.text-brown
    color $brown

.text-brown2
    color $brown2

.text-yellowgreen
    color $yellowGreen

.text-yellow2
    color $yellow2

.dark-mode .text-yellow2
    color $darkModeColor3